.footer {
    padding: 27px 0 10px;
    background-color: $maincolor;

    @media (max-width: 767.98px) {
        padding-top: 12px;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__logo {
        align-self: center;

        @media (max-width: 767.98px) {
            align-self: flex-start;
            margin-top: 10px;
        }

        & img {
            width: 56px;
            height: 56px;

            @media (max-width: 767.98px) {
                width: 34px;
                height: 34px;
            }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 11px;

        &-link {
            display: flex;
            align-items: center;
            gap: 6px;

            &:hover {
                color: #ffffff;
            }
        }

        > a {
            transition: color 0.3s ease;
            -webkit-transition: color 0.3s ease;

            &:hover {
                color: #ffffff;
            }
        }
    }

    &__copy {
        font-size: 16px;

        @media (max-width: 991.98px) {
            font-size: 12px;
        }
    }
}
