@import "null";
@import "fonts";
// =================================
$maincolor: #e9e4e0;
$mainTextColor: #725c4b;
// =================================
body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: $mainTextColor;

  &._lock {
    overflow: hidden;
  }
}

[class*="__container"] {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: 1170px) {
    max-width: 970px;
  }

  @media (max-width: 991.98px) {
    max-width: 750px;
  }

  @media (max-width: 767.98px) {
    max-width: none;
  }
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  > main {
    flex: 1 1 auto;
  }

  > * {
    min-width: 0;
  }
}

.btn {
  display: inline-block;
  // filter: drop-shadow(19px 14px 10px rgba(0, 0, 0, 0.01)) drop-shadow(11px 8px 8px rgba(0, 0, 0, 0.05)) drop-shadow(5px 4px 6px rgba(0, 0, 0, 0.09)) drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  font-weight: 700;
  letter-spacing: 0.14em;
  color: #ffffff;
  background-color: #725c4b;
  transition: all 0.3s ease;

  &:hover {
    color: #725c4b;
    background-color: #ffffff;
  }
}

.header-block {
  font-weight: 700;
  font-size: 32px;
  line-height: 121.875%;
  text-align: center;

  @media (max-width: 991.98px) {
    font-size: 24px;
  }

  @media (max-width: 767.98px) {
    font-size: 20px;
  }
}

// =================================
@import "header";
// =================================
// ============MAIN SCREEN=====================
.main {
  // position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  &__container {
    position: relative;
    min-height: 100vh;
    padding: 121px 15px 91px;

    @media (max-width: 767.98px) {
      padding: 70px 15px 0;
    }

    @media (max-width: 375.98px) {
      padding: 92px 15px 0;
    }
  }

  &__screen {
    flex: 1 0 100%;
    background-color: $maincolor;
    min-height: 100%;
  }

  &__screen-decor {
    position: absolute;
    bottom: 0;
    z-index: 2;

    &.md {
      right: -110px;

      @media (max-width: 991.98px) {
        right: -277px;
      }

      @media (max-width: 767.98px) {
        height: 50%;
      }

      @media (max-width: 414.98px) {
        // height: 30%;
      }
    }

    &.hs {
      right: -93px;

      @media (max-width: 991.98px) {
        right: -30px;
      }

      @media (max-width: 767.98px) {
        height: 96%;
        right: 49px;
      }

      @media (max-width: 645.98px) {
        height: 84%;
      }

      @media (max-width: 599.98px) {
        height: 84%;
      }

      @media (max-width: 591.98px) {
        right: 11px;
        height: 76%;
      }

      @media (max-width: 414.98px) {
        height: 60%;
      }

      @media (max-height: 668.98px) {
        height: 44%;
      }
    }
  }

  &__header {
    position: relative;
    margin-bottom: 79px;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 991.98px) {
      margin-bottom: 65px;
    }

    @media (max-width: 767.98px) {
      margin-bottom: 52px;
    }
  }

  &__header-logo {
    display: block;

    &:not(:last-child) {
      margin-bottom: 15px;

      @media (max-width: 767.98px) {
        margin-bottom: 7px;
      }
    }

    & img {
      @media (max-width: 991.98px) {
        width: 57px;
        height: 57px;
      }

      @media (max-width: 767.98px) {
        // width: 45px;
        // height: 45px;
      }

      // @media (max-width: 375.98px) {
      //   width: 80px;
      //   height: 80px;
      // }
    }
  }

  &__header-name {
    margin-bottom: 6px;

    @media (max-width: 991.98px) {
      width: 248px;
      height: 22px;
    }

    @media (max-width: 767.98px) {
      width: 190px;
      height: 22px;
      margin-bottom: 0;
    }
  }

  &__header-prof {
    @media (max-width: 991.98px) {
      width: 69px;
      height: 13px;
    }

    @media (max-width: 767.98px) {
      width: 84px;
      height: 16px;
    }
  }

  &__content {
    position: relative;
    left: 0;
    z-index: 10;
    margin-bottom: 128px;

    @media (max-width: 991.98px) {
      margin-bottom: 239px;
    }

    @media (max-width: 767.98px) {
      margin-bottom: 0;
    }
  }

  &__content-title {
    font-family: "Felix Titling", sans-serif;
    font-weight: 400;
    font-size: 90px;
    line-height: 116.666%;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #ffffff;

    @media (max-width: 991.98px) {
      font-size: 64px;
      line-height: 117.188%;
    }

    @media (max-width: 767.98px) {
      font-size: 54px;
      line-height: 111.111%;
      -webkit-text-stroke: 0.8px #ffffff;
    }

    @media (max-width: 374.98px) {
      text-align: center;
    }

    & span {
      margin-left: 214px;

      @media (max-width: 991.98px) {
        margin-left: 120px;
      }

      @media (max-width: 767.98px) {
        margin-left: 64px;
      }

      @media (max-width: 374.98px) {
        margin-left: 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: 18px;

      @media (max-width: 991.98px) {
        margin-bottom: 0;
      }
    }
  }

  &__content-subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #ffffff;
    margin-left: 214px;

    @media (max-width: 991.98px) {
      margin-left: 120px;
    }

    @media (max-width: 767.98px) {
      margin-left: 260px;
      font-size: 14px;
      line-height: 121.43%;
      -webkit-text-stroke: 0.2px #ffffff;
    }

    @media (max-width: 374.98px) {
      margin-left: 0;
      text-align: center;
    }

    &:not(:last-child) {
      margin-bottom: 127px;

      @media (max-width: 991.98px) {
        margin-bottom: 124px;
      }

      @media (max-width: 767.98px) {
        margin-bottom: 74px;
      }
    }
  }

  &__content-btn {
    padding: 16px 30px;
    margin-left: 214px;

    @media (max-width: 991.98px) {
      margin-left: 0;
    }

    @media (max-width: 375.98px) {
      // display: flex;
      // justify-content: center;
    }
  }

  &__footer {
    position: relative;
    left: 0;
    display: flex;
    gap: 125px;
    z-index: 10;

    @media (max-width: 991.98px) {
      gap: 100px;
    }

    @media (max-width: 767.98px) {
      position: absolute;
      top: 32px;
      right: 15px;
      left: auto;
      width: 50px;
      gap: 18px;
      flex-direction: column-reverse;
      align-items: flex-end;
      z-index: 20;
    }
  }

  &__footer-link {
    display: flex;
    align-items: center;
    color: $mainTextColor;
    text-transform: uppercase;
    transition: color 0.3s ease;

    & img {
      margin-right: 8px;

      @media (max-width: 767.98px) {
        margin-right: 0;
        width: 36px;
        height: 36px;
      }
    }

    &.whatsapp img {
      @media (max-width: 767.98px) {
        width: 40px;
        height: 42px;
      }
    }

    &.phone {
      display: none;

      @media (max-width: 767.98px) {
        display: flex;
      }
    }

    &:hover {
      color: #ffffff;
    }

    & span {
      @media (max-width: 767.98px) {
        display: none;
      }
    }
  }
}
// =================================
@import "about";
// =================================
@import "benefits";
// =================================
@import "price";
// =================================
@import "works";
// =================================
@import "reviews";
// =================================
@import "callback";
// =================================
@import "footer";
// =================================
@import "modal";